From root@otus.ru  Thu May  7 14:25:48 2020
Return-Path: <root@otus.ru>
X-Original-To: vagrant@otus.ru
Delivered-To: vagrant@otus.ru
Received: from otus.ru (unknown [192.168.11.1])
	by post.localdomain (Postfix) with SMTP id 0AEDD7D2CE
	for <vagrant@otus.ru>; Thu,  7 May 2020 14:25:24 +0000 (UTC)
Subject: Message by telnet

Its a real difficult problem to solve, configure postfix so bad that it can recieve this message.


